{% extends 'base.html' %}
{% load static %}

{% block title %} {{ place.title }} {% endblock %}

{% block content %}
<div class="container">
    <article>
        <h2>
            {{ place.title }}
        </h2>
        <br>
        <span>
            <img src="{% static 'images/location.png' %}" alt="">
            {{ place.address }}
        </span>
        <br>
        
        <hr>
        <p>
            {{ place.description|linebreaks }}
        </p>
        <hr>
        <span>
            Adicionado em {{ place.created }}
        </span>   
            
</article>
{% endblock %}